.new-card-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

.new-card-form input {
  padding: 0.5rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.new-card-form button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.new-card-form button:hover {
  background-color: #6c63ff;
}